# Distribuição dos nomes

In [1]:
import pandas as pd

In [3]:
data_raw = pd.read_csv("prenomes/data/nomes-censos-ibge.csv")

In [4]:
data_raw.head()

,Nome,ate1930,ate1940,ate1950,ate1960,ate1970,ate1980,ate1990,ate2000,ate2010
0,MARIA,336477.0,749053.0,1487042.0,2476482.0,2495491.0,1616019.0,917968.0,544296.0,1111301.0
1,ANA,33395.0,56160.0,101259.0,183941.0,292835.0,421531.0,529266.0,536302.0,935169.0
2,JOAO,60155.0,141772.0,256001.0,396438.0,429148.0,279975.0,273960.0,352552.0,794118.0
3,GABRIEL,1267.0,2744.0,4256.0,6095.0,6559.0,9103.0,46996.0,271405.0,584024.0
4,LUCAS,388.0,937.0,1593.0,2787.0,4425.0,9954.0,84484.0,517436.0,505306.0

In [ ]:
data_raw["Soma"] = data_raw['ate1930'] + data_raw['ate1940'] + data_raw['ate1950'] + data_raw['ate1960'] + data_raw['ate1970'] + data_raw['ate1980'] + data_raw['ate1990'] + data_raw['ate2000'] +